<main>
  <h1>Public Feature List</h1>
  <table>
    <tbody>
      <tr *ngFor="let item of items" [routerLink]="'/public/edit/'+ item.id">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
      </tr>
    </tbody>
  </table>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container cdkColumnDef="id">
      <mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef>Title</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="author">
      <mat-header-cell *cdkHeaderCellDef>Title</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="year">
      <mat-header-cell *cdkHeaderCellDef>Year</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.year}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="pages">
      <mat-header-cell *cdkHeaderCellDef>Pages</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.pages}}</mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</main>
