<h3 class="mat-dialog-title">Login</h3>

<div class="mat-dialog-content">
  <form [formGroup]="form" (submit)="login()">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
  </form>
</div>

<div>{{this.message}}</div>

<div class="mat-dialog-actions">
  <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" (click)="login()">Login</button>
  <button mat-raised-button type="button " (click)="cancel() ">Cancel</button>
</div>
