.app-layout {
  height: 100vh;
}

.mat-toolbar {
  position: fixed;
  z-index: 10;
}

.mat-toolbar .mat-icon {
  cursor: pointer;
}

.mat-toolbar .mat-icon:not(:last-child) {
  margin-right: 16px;
}

app-toolbar {
  width: 100%;
}

.mat-sidenav-container {
  position: fixed;
  top: 64px;
  bottom: 0px;
  width: 100%;
}

.mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  min-width: 15rem;
 }

 @media (max-width: 600px) {
  .mat-sidenav-container {
    top: 56px;
  }
  .mat-sidenav {
    top: 56px;
  }
}

.app-content {
  padding: 16px;
}

