<div class="app-layout flex-container" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar #toolbar class="mat-elevation-z10" color="primary">
    <app-toolbar [showMenuToggle]="media.isActive('lt-md')" (sidenavToggle)="toggleSidenav()"></app-toolbar>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav class="mat-elevation-z5" [mode]="media.isActive('gt-sm') ? 'side' : 'over'" [opened]="media.isActive('gt-sm')">
      <app-sidenav (close)="toggleSidenav()"></app-sidenav>
    </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
