<mat-nav-list>
  <a mat-list-item *ngIf="currentUser" (click)="onClick()" 
      routerLink="/protected" routerLinkActive="active">Protected</a>
  <a mat-list-item (click)="onClick()" routerLink="/public" routerLinkActive="active">Public</a>
  <a mat-list-item (click)="onClick()" routerLink="/nonexisting" routerLinkActive="active">Non existing</a>
</mat-nav-list>