/* Import Google's material icons */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Import theming functions */

@import '~@angular/material/theming';

@include mat-core();

// Customizations go here, for instance:

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-success: mat-palette($mat-green);
$app-info: mat-palette($mat-blue);
$app-warning: mat-palette($mat-orange);
$app-error: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warning);

@include angular-material-theme($app-theme);

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  background-color: mat-color($app-primary);
  padding: 2rem 1rem 16px;
  color: white;
}

main {
  padding: 1rem 16px;
}

// Workaround to "fix" Chrome repaint bug

header,
footer,
main {
  transform: scale(1);
}

h1,
h2,
h3 {
  font-weight: normal;
}

.mat-snack-bar-container.success {
  background-color: mat-color($app-success);
}

.mat-snack-bar-container.info {
  background-color: mat-color($app-info);
}

.mat-snack-bar-container.warning {
  background-color: mat-color($app-warning);
}

.mat-snack-bar-container.error {
  background-color: mat-color($app-error);
}

.mat-simple-snackbar-action {
  color: white;
}

[routerLink] {
  cursor: pointer;
}
